<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
</head>

<body>
<button id="check">请点击此处打卡</button>
<ul id="person-list"></ul>
</body>

<script src="/lib/require.min.js"></script>
<script type="text/javascript">
    require(["js/main"], function () {
        require(["js/index"]);
    })
</script>
</html>

<!--https://github.com/the5fire/backbonejs-learning-note/blob/master/chapters/02-backbonejs-model.rst-->